Backend/node_modules/
FoodApp-Project/FoodApp/Backend/node_modules
FoodApp-Project/FoodApp/Backend/package-lock.json
FoodApp-Project/FoodApp/Backend/package.json
Backend/package-lock.json
Backend/package.json
Backend/.env
FoodApp/Backend/.env
ToDo_Application/Backend/.env
ToDo_Application/Backend/package.json
ToDo_Application/Backend/package-lock.json
ToDo_Application/Backend/node_modules
JWT_middleware/Backend/node_modules/
JWT_middleware/Backend/package-lock.json
JWT_middleware/Backend/package.json
JWT_middleware/Backend/.env
FoodApp-Project/foodApp_Client/package-lock.json
FoodApp-Project/foodApp_Client/package.json
FoodApp-Project/foodApp_Client/vite.config.js
FoodApp-Project/foodApp_Client/node_modules/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
